<div class ="container p-4">
<h1>Get daily world update at our platform</h1>
<h1>NEWS WEBAPP</h1>
</div>
<div class ="container p-4">

  

  <div class="row">
    
    
    <div class ="col-md-12">
    
      <div *ngIf="news"class="card card-body text-center">
        <img src={{news.articles[0].urlToImage}} style="width:100%;height:100%;">
        <br>
        <p>SourceName: {{news.articles[0].source.name}}</p>
        <p>Author: {{news.articles[0].author}}</p>
        <p>Title: {{news.articles[0].title}}</p>
        <p>Description: {{news.articles[0].description}}</p>
        <p>Published at: {{news.articles[0].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[1].urlToImage}} style="width:100%;height:100%;">
          <br>
        
        <p>SourceName: {{news.articles[1].source.name}}</p>
        <p>Author: {{news.articles[1].author}}</p>
        <p>Title: {{news.articles[1].title}}</p>
        <p>Description: {{news.articles[1].description}}</p>
        <p>Published at: {{news.articles[1].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[2].urlToImage}} style="width:100%;height:100%;">
          <br>

        <p>SourceName: {{news.articles[2].source.name}}</p>
        <p>Author: {{news.articles[2].author}}</p>
        <p>Title: {{news.articles[2].title}}</p>
        <p>Description: {{news.articles[2].description}}</p>
        <p>Published at: {{news.articles[2].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
        <img src={{news.articles[3].urlToImage}} style="width:100%;height:100%;">
        <br>

        <p>SourceName: {{news.articles[3].source.name}}</p>
        <p>Author: {{news.articles[3].author}}</p>
        <p>Title: {{news.articles[3].title}}</p>
        <p>Description: {{news.articles[3].description}}</p>
        <p>Published at: {{news.articles[3].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
   
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[7].urlToImage}} style="width:100%;height:100%;">
          <br>
        <p>SourceName: {{news.articles[7].source.name}}</p>
        <p>Author: {{news.articles[7].author}}</p>
        <p>Title: {{news.articles[7].title}}</p>
        <p>Description: {{news.articles[7].description}}</p>
        <p>Published at: {{news.articles[7].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[8].urlToImage}} style="width:100%;height:100%;">
          <br>
        <p>SourceName: {{news.articles[8].source.name}}</p>
        <p>Author: {{news.articles[8].author}}</p>
        <p>Title: {{news.articles[8].title}}</p>
        <p>Description: {{news.articles[8].description}}</p>
        <p>Published at: {{news.articles[8].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[9].urlToImage}} style="width:100%;height:100%;">
          <br>
        <p>SourceName: {{news.articles[9].source.name}}</p>
        <p>Author: {{news.articles[9].author}}</p>
        <p>Title: {{news.articles[9].title}}</p>
        <p>Description: {{news.articles[9].description}}</p>
        <p>Published at: {{news.articles[9].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[10].urlToImage}} style="width:100%;height:100%;">
          <br>
        <p>SourceName: {{news.articles[10].source.name}}</p>
        <p>Author: {{news.articles[10].author}}</p>
        <p>Title: {{news.articles[10].title}}</p>
        <p>Description: {{news.articles[10].description}}</p>
        <p>Published at: {{news.articles[10].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>

      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[15].urlToImage}} style="width:100%;height:100%;">
          <br>

        <p>SourceName: {{news.articles[15].source.name}}</p>
        <p>Author: {{news.articles[15].author}}</p>
        <p>Title: {{news.articles[15].title}}</p>
        <p>Description: {{news.articles[15].description}}</p>
        <p>Published at: {{news.articles[15].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[16].urlToImage}} style="width:100%;height:100%;">
          <br>
        <p>SourceName: {{news.articles[16].source.name}}</p>
        <p>Author: {{news.articles[16].author}}</p>
        <p>Title: {{news.articles[16].title}}</p>
        <p>Description: {{news.articles[16].description}}</p>
        <p>Published at: {{news.articles[16].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[17].urlToImage}} style="width:100%;height:100%;">
          <br>
        <p>SourceName: {{news.articles[17].source.name}}</p>
        <p>Author: {{news.articles[17].author}}</p>
        <p>Title: {{news.articles[17].title}}</p>
        <p>Description: {{news.articles[17].description}}</p>
        <p>Published at: {{news.articles[17].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[18].urlToImage}} style="width:100%;height:100%;">
          <br>
        <p>SourceName: {{news.articles[18].source.name}}</p>
        <p>Author: {{news.articles[18].author}}</p>
        <p>Title: {{news.articles[18].title}}</p>
        <p>Description: {{news.articles[18].description}}</p>
        <p>Published at: {{news.articles[18].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
        
      </div>

      <div *ngIf="news"class="card card-body text-center">
        <img src={{news.articles[5].urlToImage}} style="width:100%;height:100%;">
        <br>
        <p>SourceName: {{news.articles[5].source.name}}</p>
        <p>Author: {{news.articles[5].author}}</p>
        <p>Title: {{news.articles[5].title}}</p>
        <p>Description: {{news.articles[5].description}}</p>
        <p>Published at: {{news.articles[5].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
      <div *ngIf="news"class="card card-body text-center">
          <img src={{news.articles[0].urlToImage}} style="width:100%;height:100%;">
          <br>
        <p>SourceName: {{news.articles[6].source.name}}</p>
        <p>Author: {{news.articles[6].author}}</p>
        <p>Title: {{news.articles[6].title}}</p>
        <p>Description: {{news.articles[6].description}}</p>
        <p>Published at: {{news.articles[6].publishedAt}}</p>
        <button class ="btn btn-primary">Read More..</button>
      </div>
    </div>
    
  </div>
</div>
